{"swagger":"2.0","info":{"version":"1.0.0","title":"仮想銀行API"},"host":"demo-ap08-prod.apigee.net","basePath":"/alpha","tags":[{"name":"1.契約者","description":""},{"name":"2.振込パターン","description":""},{"name":"4.入出金明細","description":""},{"name":"3.口座","description":""},{"name":"5.振込","description":""},{"name":"6.投信","description":""},{"name":"7.店舗関連","description":""},{"name":"8.各種一覧","description":""}],"schemes":["https"],"paths":{"/accounts":{"get":{"tags":["3.口座"],"summary":"すべての口座情報を取得します。","description":"仮想銀行内では、口座IDを使用して取引を行います。<br>クエリパラメータの指定で、口座保有者区分コード（holder_type_cd）、口座種類コード（account_type_cd）による絞込が可能です。<br>内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllAccounts","produces":["application/json"],"parameters":[{"name":"holder_type_cd","in":"query","description":"口座保有者区分コード(RT:個人,CP:法人)","required":false,"type":"string","enum":["RT","CP"]},{"name":"account_type_cd","in":"query","description":"口座種類コード(1:普通,2:投信,3:当座)","required":false,"type":"string","enum":["1","2","3"]},{"name":"offset","in":"query","description":"先頭「offset」番目から","required":false,"type":"string"},{"name":"limit","in":"query","description":"「limit」件取得します。","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/Account"}}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]}},"/accounts/{account_id}":{"get":{"tags":["3.口座"],"summary":"指定した口座IDの口座情報を取得します。","description":"","operationId":"lookupAccountById","produces":["application/json"],"parameters":[{"name":"account_id","in":"path","description":"口座ID","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"$ref":"#/definitions/Account"}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]}},"/accounts/{account_id}/funds":{"get":{"tags":["6.投信"],"summary":"指定した口座が購入したファンド情報を取得します。","description":"内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllFunds","produces":["application/json"],"parameters":[{"name":"account_id","in":"path","description":"口座ID(投信口座)","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/Fund"}}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]},"post":{"tags":["6.投信"],"summary":"指定した口座でファンドを購入します。","description":"自分の投信口座からのみ購入可能です。購入した分の金額が投信口座に入金されます。<br>「8.各種一覧」のファンド情報から商品を選んで購入してください。","operationId":"createFund","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"投信購入情報オブジェクト","required":true,"schema":{"$ref":"#/definitions/Fund"}},{"name":"account_id","in":"path","description":"口座ID(投信口座)","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"$ref":"#/definitions/Fund"}},"400":{"description":"不正なパラメータ"}},"security":[{"oauth2":["api"]}]}},"/accounts/{account_id}/transactions":{"get":{"tags":["4.入出金明細"],"summary":"指定した口座の入出金情報を取得します。","description":"振込・ファンド購入を行った際に明細が登録され、その情報を参照できます。<br>クエリパラメータの指定で、入出金日（from,to）、適用コメントによる絞込が可能です。<br>内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllTransactions","produces":["application/json"],"parameters":[{"name":"account_id","in":"path","description":"口座ID","required":true,"type":"string"},{"name":"from","in":"query","description":"入出金日付(from)","required":false,"type":"string"},{"name":"to","in":"query","description":"入出金日付(to)","required":false,"type":"string"},{"name":"comment","in":"query","description":"適用コメント","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/Transaction"}}},"400":{"description":"不正なパラメータ"},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]}},"/accounts/{account_id}/transfers":{"get":{"tags":["5.振込"],"summary":"指定した口座の振込明細を取得します。","description":"当座の振込明細のみ、クエリパラメータ:ステータス（status）による絞込が可能です。<br>内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllTransfers","produces":["application/json"],"parameters":[{"name":"account_id","in":"path","description":"口座ID","required":true,"type":"string"},{"name":"status","in":"query","description":"ステータス(当座(法人口座)からの振込のみ絞込可能)","required":false,"type":"string","enum":["approved","unapproved"]},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/Transfer"}}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]},"post":{"tags":["5.振込"],"summary":"指定した口座から振込、または、振込申請を行います。","description":"普通口座か当座から振込ができます。<br>普通口座からの振込の場合、即時振込となります。金額の移動が発生します。<br/>当座からの振込の場合、振込申請となります。金額の移動は発生しません。クエリパラメータで\"action=approve\"を指定すると、全振込申請に対して一括承認ができます。金額の移動が発生します。","operationId":"createTransfer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"振込情報オブジェクト","required":true,"schema":{"$ref":"#/definitions/Transfer"}},{"name":"account_id","in":"path","description":"口座ID","required":true,"type":"string"},{"name":"action","in":"query","description":"承認アクション(法人口座からの振込のみ可能)","required":false,"type":"string","enum":["approve"]},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"$ref":"#/definitions/Transfer"}},"400":{"description":"不正なパラメータ"}},"security":[{"oauth2":["api"]}]}},"/accounts/{account_id}/transfers/{transfer_id}":{"post":{"tags":["5.振込"],"summary":"指定した口座の振込申請を1件承認します。","description":"当座からの振込申請に対してのみ使用可能です。金額の移動が発生します。クエリパラメータに\"action=approve\"の指定が必須となります。","operationId":"approveOneTransfer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"account_id","in":"path","description":"口座ID","required":true,"type":"string"},{"name":"transfer_id","in":"path","description":"振込ID","required":true,"type":"string"},{"name":"action","in":"query","description":"承認アクション(法人口座からの振込のみ可能)","required":false,"type":"string","enum":["approve"]},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"$ref":"#/definitions/Transfer"}},"400":{"description":"不正なパラメータ"}},"security":[{"oauth2":["api"]}]}},"/branches":{"get":{"tags":["7.店舗関連"],"summary":"支店情報を取得します。","description":"クエリパラメータの指定で、緯度（latitude）、経度（longitude）、範囲（distance）での絞込が可能です。<br>内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllBranchs","produces":["application/json"],"parameters":[{"name":"latitude","in":"query","description":"緯度(WGS84)","required":false,"type":"string"},{"name":"longitude","in":"query","description":"経度(WGS84)","required":false,"type":"string"},{"name":"distance","in":"query","description":"範囲(m)","required":false,"type":"string"},{"name":"offset","in":"query","description":"先頭「offset」番目から","required":false,"type":"string"},{"name":"limit","in":"query","description":"「limit」件取得します。","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/Branch"}}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]}},"/branches/{branch_number}/crowd-hours":{"get":{"tags":["7.店舗関連"],"summary":"指定した支店の混雑状況を取得します。","description":"渋谷中央支店（branch_number=345）のみの取り扱いとなります。<br>内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllCrowdHours","produces":["application/json"],"parameters":[{"name":"branch_number","in":"path","description":"支店番号","required":true,"type":"string","default":"345"},{"name":"offset","in":"query","description":"先頭「offset」番目から","required":false,"type":"string"},{"name":"limit","in":"query","description":"「limit」件取得します。","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/CrowdHour"}}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]}},"/branches/{branch_number}/teller-bookings":{"get":{"tags":["7.店舗関連"],"summary":"指定した支店の来店予約情報を取得します。","description":"クエリパラメータの指定で、ユーザーID（user_id）による絞込が可能です。<br>内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllTellerBookings","produces":["application/json"],"parameters":[{"name":"branch_number","in":"path","description":"支店番号","required":true,"type":"string","default":"345"},{"name":"user_id","in":"query","description":"ユーザーID","required":false,"type":"string"},{"name":"offset","in":"query","description":"先頭「offset」番目から","required":false,"type":"string"},{"name":"limit","in":"query","description":"「limit」件取得します。","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/TellerBooking"}}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]},"post":{"tags":["7.店舗関連"],"summary":"指定した支店に来店予約を行います。","description":"渋谷中央支店（branch_number=345）のみ取り扱い可能です。時間帯はコードで指定してください。","operationId":"createTellerBooking","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/TellerBooking"}},{"name":"branch_number","in":"path","description":"支店番号","required":true,"type":"string","default":"345"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"201":{"description":"正常","schema":{"$ref":"#/definitions/TellerBooking"}},"400":{"description":"不正なパラメータ"}},"security":[{"oauth2":["api"]}]}},"/branches/{branch_number}/waiting-lines":{"get":{"tags":["7.店舗関連"],"summary":"指定した支店の店頭受付情報を取得します。","description":"渋谷中央支店（branch_number=345）のみ取り扱い可能です。<br>内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"getListAllWaitingLines","produces":["application/json"],"parameters":[{"name":"branch_number","in":"path","description":"支店番号","required":true,"type":"string","default":"345"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/WaitingLine"}}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]}},"/branches/{branch_number}/waiting-lines/{user_id}":{"get":{"tags":["7.店舗関連"],"summary":"指定したユーザーの店頭受付情報を取得します。","description":"渋谷中央支店（branch_number=345）のみ取り扱い可能です。","operationId":"getUserTicket","produces":["application/json"],"parameters":[{"name":"branch_number","in":"path","description":"支店番号","required":true,"type":"string","default":"345"},{"name":"user_id","in":"path","description":"ユーザーID","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"$ref":"#/definitions/UserTicket"}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]},"post":{"tags":["7.店舗関連"],"summary":"指定した支店に店頭受付を行います。","description":"渋谷中央支店（branch_number=345）のみ取り扱い可能です。<br>1人1件受付可能です。最後に行った受付情報のみ有効です。","operationId":"postWaitingLines","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"店頭受付情報オブジェクト","required":true,"schema":{"$ref":"#/definitions/UserTicket"}},{"name":"branch_number","in":"path","description":"支店番号","required":true,"type":"string","default":"345"},{"name":"user_id","in":"path","description":"ユーザーID","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"201":{"description":"新規作成","schema":{"$ref":"#/definitions/UserTicket"}},"400":{"description":"不正なパラメータ"}},"security":[{"oauth2":["api"]}]}},"/info/atm-fees":{"get":{"tags":["8.各種一覧"],"summary":"ATM手数料情報を取得します。","description":"内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllAtmFees","produces":["application/json"],"parameters":[{"name":"offset","in":"query","description":"先頭「offset」番目から","required":false,"type":"string"},{"name":"limit","in":"query","description":"「limit」件取得します。","required":false,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/AtmFee"}}}}}},"/info/funds":{"get":{"tags":["8.各種一覧"],"summary":"ファンド情報を取得します。","description":"内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllFundObjective","produces":["application/json"],"parameters":[{"name":"offset","in":"query","description":"先頭「offset」番目から","required":false,"type":"string"},{"name":"limit","in":"query","description":"「limit」件取得します。","required":false,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/FundObjective"}}}}}},"/info/fx-rates":{"get":{"tags":["8.各種一覧"],"summary":"為替相場レートを取得します。","description":"","operationId":"listAllFxRates","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/FxRate"}}}}}},"/info/loan-rates":{"get":{"tags":["8.各種一覧"],"summary":"ローン金利情報を取得します。","description":"内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllLoanRates","produces":["application/json"],"parameters":[{"name":"offset","in":"query","description":"先頭「offset」番目から","required":false,"type":"string"},{"name":"limit","in":"query","description":"「limit」件取得します。","required":false,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"$ref":"#/definitions/LoanRate"}}}}},"/users":{"get":{"tags":["1.契約者"],"summary":"すべての契約者情報を取得します。","description":"契約者は個人と法人の2種類あります。<br>ユーザーIDが、\"RT\"始まりが個人ユーザー、\"CP\"始まりが法人ユーザーです。<br>個人ユーザーは普通口座と投信口座を、法人ユーザーは当座を所有しています。<br>内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllUsers","produces":["application/json"],"parameters":[{"name":"offset","in":"query","description":"先頭「offset」番目から","required":false,"type":"string"},{"name":"limit","in":"query","description":"「limit」件取得します。","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/User"}}}},"security":[{"oauth2":["api"]}]}},"/users/me":{"get":{"tags":["1.契約者"],"summary":"ログインユーザーの契約者情報を取得します。","description":"","operationId":"lookupUserMe","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"$ref":"#/definitions/User"}},"500":{"description":"認証されていないまたは該当データが存在しない"}},"security":[{"oauth2":["api"]}]}},"/users/{user_id}":{"get":{"tags":["1.契約者"],"summary":"指定したユーザーの契約者情報を取得します。","description":"","operationId":"lookupUserById","produces":["application/json"],"parameters":[{"name":"user_id","in":"path","description":"ユーザーID","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"$ref":"#/definitions/User"}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]}},"/users/{user_id}/transfer-patterns":{"get":{"tags":["2.振込パターン"],"summary":"指定したユーザーのすべての振込パターン情報を取得します。","description":"内容を表す\"entities\"と件数を表す\"count\"を持つモデルにラッピングされて出力されます。なお、countは必ず総件数が出力されます。","operationId":"listAllTransferPatterns","produces":["application/json"],"parameters":[{"name":"user_id","in":"path","description":"ユーザーID","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"type":"array","items":{"$ref":"#/definitions/TransferPattern"}}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]},"post":{"tags":["2.振込パターン"],"summary":"指定したユーザーの振込パターン情報を1件登録します。","description":"1ユーザーにつき15件まで登録可能です。","operationId":"createTransferPattern","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"振込パターン情報オブジェクト","required":true,"schema":{"$ref":"#/definitions/TransferPattern"}},{"name":"user_id","in":"path","description":"ユーザーID","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"201":{"description":"新規作成","schema":{"$ref":"#/definitions/TransferPattern"}},"400":{"description":"不正なパラメータ"}},"security":[{"oauth2":["api"]}]}},"/users/{user_id}/transfer-patterns/{transfer_pattern_id}":{"get":{"tags":["2.振込パターン"],"summary":"指定した振込パターン情報を取得します。","description":"","operationId":"lookupTransferPatternsById","produces":["application/json"],"parameters":[{"name":"user_id","in":"path","description":"ユーザーID","required":true,"type":"string"},{"name":"transfer_pattern_id","in":"path","description":"振込パターンID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常","schema":{"$ref":"#/definitions/TransferPattern"}},"404":{"description":"該当データなし"}},"security":[{"oauth2":["api"]}]},"put":{"tags":["2.振込パターン"],"summary":"指定した振込パターン情報を更新します。","description":"","operationId":"updateTransferPatternsById","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"振込パターン情報オブジェクト","required":true,"schema":{"$ref":"#/definitions/TransferPattern"}},{"name":"user_id","in":"path","description":"ユーザーID","required":true,"type":"string"},{"name":"transfer_pattern_id","in":"path","description":"振込パターンID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"202":{"description":"受理","schema":{"$ref":"#/definitions/TransferPattern"}},"400":{"description":"不正なパラメータ"}},"security":[{"oauth2":["api"]}]},"delete":{"tags":["2.振込パターン"],"summary":"指定した振込パターン情報を削除します。","description":"","operationId":"deleteTransferPatterns","produces":["application/json"],"parameters":[{"name":"user_id","in":"path","description":"ユーザーID","required":true,"type":"string"},{"name":"transfer_pattern_id","in":"path","description":"振込パターンID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"右上の認証ボタンをOnにし、アクセストークンを設定ください。","required":true,"type":"string"}],"responses":{"200":{"description":"正常"},"400":{"description":"不正なパラメータ"}},"security":[{"oauth2":["api"]}]}}},"securityDefinitions":{"oauth2":{"type":"oauth2","authorizationUrl":"http://54.238.177.194:8080/byob-oauth/authorize.xhtml","flow":"implicit","scopes":{"api":""}}},"definitions":{"Wrapper":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object"}},"count":{"type":"integer","format":"int64"}}},"Account":{"type":"object","properties":{"account_id":{"type":"string","description":"口座ID（支店番号+口座番号）"},"user_id":{"type":"string","description":"ユーザーID"},"branch_number":{"type":"string","example":"345","description":"支店番号"},"account_type_cd":{"type":"string","description":"口座種類コード(1:普通,2:投信,3:当座)","enum":["1","2","3"]},"account_type":{"type":"string","description":"口座種類","enum":["普通","投信","当座"]},"account_number":{"type":"string","description":"口座番号"},"account_holder_name":{"type":"string","description":"口座名義人名"},"account_holder_type_cd":{"type":"string","example":"RT","description":"口座保有者区分コード(RT:個人,CP:法人)","enum":["RT","CP"]},"account_holder_type":{"type":"string","example":"個人","description":"口座保有者区分","enum":["個人","法人"]},"balance":{"type":"integer","format":"int64","description":"預金残高"},"opening_date":{"type":"string","format":"date-time","example":"2016-02-01","description":"口座開設日"}}},"User":{"type":"object","properties":{"user_id":{"type":"string","description":"ユーザーID"},"user_name":{"type":"string","description":"ユーザー名"},"post_code":{"type":"string","description":"郵便番号"},"address":{"type":"string","description":"住所"},"phone_number":{"type":"string","description":"電話番号"},"email":{"type":"string","description":"Eメールアドレス"},"my_accounts":{"type":"array","description":"口座情報","items":{"$ref":"#/definitions/MyAccount"}}}},"PayeeInfo":{"type":"object","properties":{"bank_name":{"type":"string","example":"三菱東京UFJ銀行","description":"振込先銀行名"},"branch_name":{"type":"string","example":"渋谷中央支店","description":"振込先支店名"},"account_type":{"type":"string","example":"普通","description":"振込先口座種類","enum":["普通","当座"]},"account_id":{"type":"string","example":"345XXXXXXX","description":"振込先口座ID"},"name":{"type":"string","description":"振込先名義人名"}}},"Fund":{"type":"object","required":["my_fund"],"properties":{"fund_account_id":{"type":"string","description":"投信口座ID：設定不要。URIで指定した口座IDが自動設定されます。"},"settlement_account_id":{"type":"string","description":"決済口座ID：設定不要。ログインユーザーが所有する普通口座IDが自動設定されます。"},"trade_date":{"type":"string","format":"date-time","example":"2016-02-01","description":"決済日：指定しない場合当日日付を設定します。"},"my_fund":{"description":"購入するファンド情報","$ref":"#/definitions/FundInfo"}}},"CrowdHour":{"type":"object","properties":{"branch_number":{"type":"string","example":"345","description":"支店番号"},"branch_name":{"type":"string","example":"渋谷中央支店","description":"支店名"},"date":{"type":"string","format":"date-time","example":"2016-03-01","description":"日付"},"schedules":{"type":"array","description":"混雑状況","items":{"$ref":"#/definitions/ScheduleInfo"}}}},"FxRate":{"type":"object","properties":{"currency":{"type":"string","example":"USD","description":"通貨","enum":["USD","EUR","GBP","CHF","AUD","NZD"]},"currencyDesc":{"type":"string","example":"米ドル","description":"通貨名"},"tts":{"type":"number","format":"double","description":"TTS：「円」を「外貨」に交換するときのレート"},"ttb":{"type":"number","format":"double","description":"TTB：「外貨」を「円」に交換するときのレート"}}},"MyAccountInfo":{"type":"object","properties":{"branch_number":{"type":"string","example":"345","description":"支店番号"},"account_type":{"type":"string","description":"口座種類","enum":["普通","当座","投信"]},"account_id":{"type":"string","example":"345XXXXXXX","description":"口座ID"}}},"AtmFee":{"type":"object","properties":{"card_type":{"type":"string","example":"BTMU","description":"カード種類"},"transaction_type":{"type":"string","example":"引き出し","description":"取引種類"},"is_holiday":{"type":"string","description":"平日/休日","enum":["平日","休日"]},"hours":{"type":"string","example":"8：45～18：00","description":"時間帯"},"fee":{"type":"integer","format":"int32","example":"108","description":"手数料"}}},"MyAccount":{"type":"object","properties":{"account_id":{"type":"string","description":"口座ID（支店番号+口座番号）"},"branch_number":{"type":"string","example":"345","description":"支店番号"},"account_type_cd":{"type":"string","description":"口座種類コード(1:普通,2:投信,3:当座)","enum":["1","2","3"]},"account_type":{"type":"string","description":"口座種類","enum":["普通","投信","当座"]},"account_number":{"type":"string","description":"口座番号"},"account_holder_type_cd":{"type":"string","description":"口座保有者区分コード(RT:個人,CP:法人)","enum":["RT","CP"]},"account_holder_type":{"type":"string","description":"口座保有者区分","enum":["個人","法人"]},"balance":{"type":"integer","format":"int64","description":"預金残高"},"opening_date":{"type":"string","format":"date-time","example":"2016-02-01","description":"口座開設日"}}},"ScheduleInfo":{"type":"object","properties":{"time_zone":{"type":"string","example":"09:00~09:30","description":"時間帯：30分間隔"},"availability":{"type":"string","description":"混雑状況","enum":["空いている","混雑","特に混雑","非営業日"]}}},"Transaction":{"type":"object","properties":{"transaction_date":{"type":"string","format":"date-time","example":"2016-02-01","description":"入出金日"},"transaction_type":{"type":"string","example":"入金","description":"入出金区分","enum":["入金","出金"]},"account_id":{"type":"string","example":"345XXXXXXX","description":"口座ID"},"amount":{"type":"integer","format":"int64","description":"移動金額"},"comment":{"type":"string","example":"振込","description":"適用コメント"}}},"TransferPattern":{"type":"object","required":["transfer_pattern_name"],"properties":{"transfer_pattern_id":{"type":"integer","format":"int64","description":"振込パターンID：設定不要。登録時に自動設定されます。"},"user_id":{"type":"string","example":" ","description":"ユーザーID：設定不要。自動設定されます。"},"transfer_pattern_name":{"type":"string","description":"振込パターン名"},"payment_pattern":{"description":"振込先・金額情報","$ref":"#/definitions/PaymentPatternInfo"}}},"FundObjective":{"type":"object","properties":{"fund_id":{"type":"string","example":"FO001","description":"ファンドID"},"fund_name":{"type":"string","example":"三菱ＵＦＪ Jリートオープン（3ヵ月決算型）","description":"ファンド名"},"fund_type":{"type":"string","example":"不動産投資信託","description":"ファンド種類"},"management_company":{"type":"string","example":"三菱UFJ国際投信","description":"運用会社"},"net_asset_value":{"type":"integer","format":"int64","description":"基準価額（単価）"},"difference":{"type":"integer","format":"int64","description":"前日比"},"dividend":{"type":"integer","format":"int64","description":"分配額"}}},"Branch":{"type":"object","properties":{"address":{"type":"string","description":"住所"},"branch_name":{"type":"string","description":"支店名"},"branch_number":{"type":"string","description":"支店番号"},"branch_type":{"type":"string","description":"店舗タイプ","enum":["支店","ATM"]},"location":{"description":"位置情報","$ref":"#/definitions/Location"},"opening_hours":{"type":"string","description":"営業時間"},"phone_number":{"type":"string","description":"電話番号"},"post_code":{"type":"string","description":"郵便番号"}}},"LoanRate":{"type":"object","properties":{"loan_type":{"type":"string","example":"住宅ローン","description":"ローン種類"},"rate_type":{"type":"string","example":"保証料一括前払い型","description":"金利種類"},"fix_float":{"type":"string","description":"変動/固定","enum":["変動","固定"]},"period":{"type":"integer","format":"int64","description":"期間（単位：年）"},"rate_min":{"type":"number","format":"double","description":"最低金利"},"rate_max":{"type":"number","format":"double","description":"最高金利"}}},"FundInfo":{"type":"object","required":["fund_id","units"],"properties":{"fund_id":{"type":"string","example":"FO0XX","description":"ファンドID"},"fund_name":{"type":"string","description":"ファンド名：設定不要。ファンドIDに紐づくファンド名が自動設定されます。"},"units":{"type":"integer","format":"int64","description":"口数"},"net_asset_value":{"type":"integer","format":"int64","description":"基準価額（単価）：設定不要。ファンドIDに紐づく基準価額が自動設定されます。"}}},"TellerInfo":{"type":"object","required":["teller_number"],"properties":{"teller_number":{"type":"string","example":"1","description":"窓口番号"},"service_type":{"type":"string","example":"個人のお客さま（入出金・振込・税金等）","description":"受付業務種類"},"now_ticket_number":{"type":"integer","format":"int64","example":"10","description":"現在受付中の番号"},"waiting_persons":{"type":"integer","format":"int64","example":"3","description":"窓口の待ち人数"},"waiting_minutes":{"type":"integer","format":"int64","example":"18","description":"窓口の待ち時間"}}},"Transfer":{"type":"object","required":["amount"],"properties":{"transfer_id":{"type":"integer","format":"int64","description":"振込明細ID：設定不要。振込時に自動設定されます。"},"transfer_date":{"type":"string","format":"date-time","example":"2016-02-01","description":"振込依頼日：指定しない場合当日日付が設定されます。"},"amount":{"type":"integer","format":"int64","description":"振込金額"},"account_id":{"type":"string","description":"振込元口座ID：設定不要。URIで指定した口座IDが自動設定されます。"},"transfer_pattern_id":{"type":"integer","format":"int64","description":"振込パターンID：自分の振込パターンIDを指定してください。指定すると振込先情報の設定が不要になります。"},"status":{"type":"string","description":"ステータス：設定不要。当座での振込に使用します。","enum":["Unapproved","Approved"]},"payee":{"description":"振込先情報","$ref":"#/definitions/PayeeInfo"}}},"WaitingLine":{"type":"object","required":["branch_number"],"properties":{"branch_number":{"type":"string","example":"345","description":"支店番号"},"branch_name":{"type":"string","example":"渋谷中央支店","description":"支店名"},"teller_info":{"description":"受付情報","$ref":"#/definitions/TellerInfo"}}},"PaymentPatternInfo":{"type":"object","required":["account_id","amount"],"properties":{"bank_name":{"type":"string","example":"三菱東京UFJ銀行","description":"振込先銀行名"},"branch_name":{"type":"string","example":"渋谷中央支店","description":"振込先支店名"},"account_type":{"type":"string","example":"普通","description":"振込先口座種類","enum":["普通","当座"]},"account_id":{"type":"string","example":"345XXXXXXX","description":"振込先口座ID：存在する口座IDを指定すると、振込先銀行名・振込先支店名・振込先口座種類・振込先名義人名が自動で設定されます。"},"name":{"type":"string","description":"振込先名義人名"},"amount":{"type":"integer","format":"int64","description":"振込固定金額"}}},"UserTicket":{"type":"object","required":["teller_number"],"properties":{"user_id":{"type":"string","description":"ユーザーID：設定不要。自動設定されます。"},"teller_number":{"type":"string","example":"1","description":"窓口番号(1:個人のお客さま（入出金・振込・税金等）,2:法人のお客さま（入出金・振込・税金等）,3:運用のご相談（投資信託等）,4:各種お届け（変更・喪失・発見等）,5:その他)","enum":["1","2","3","4","5"]},"service_type":{"type":"string","example":"個人のお客さま（入出金・振込・税金等）","description":"受付業務種類：設定不要。窓口番号に紐づく受付業務が自動設定されます。","enum":["個人のお客さま（入出金・振込・税金等）","法人のお客さま（入出金・振込・税金等）","運用のご相談（投資信託等）","各種お届け（変更・喪失・発見等）","その他'"]},"my_ticket_number":{"type":"integer","format":"int64","description":"自分の受付番号：設定不要。POST時に自動設定されます。"}}},"Location":{"type":"object","properties":{"latitude":{"type":"number","format":"double","description":"緯度"},"longitude":{"type":"number","format":"double","description":"経度"}}},"TellerBooking":{"type":"object","required":["branch_number","conference_date","contents","time_code"],"properties":{"branch_number":{"type":"string","example":"345","description":"支店番号：必ず345を設定してください。"},"branch_name":{"type":"string","example":"渋谷中央支店","description":"支店名：設定不要。自動設定されます。"},"conference_date":{"type":"string","format":"date-time","example":"2016-03-01","description":"相談日：2016-02-22～2016-03-31の間で指定してください。"},"time_code":{"type":"string","description":"相談時間帯コード","enum":["1","2","3","4","5","6"]},"conference_time":{"type":"string","example":"09:00~10:00","description":"相談時間帯：設定不要。相談時間帯コードをもとに時間帯が自動設定されます。","enum":["09:00~10:00","10:00~11:00","11:00~12:00","12:00~13:00","13:00~14:00","14:00~15:00"]},"user_id":{"type":"string","description":"ユーザーID：設定不要。自動設定されます。"},"contents":{"type":"string","description":"相談内容"},"my_account":{"description":"取引口座情報","$ref":"#/definitions/MyAccountInfo"}}}}}